@font-face {
    font-family: "RoundBit";
    src: url('/public/fonts/RoundBit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "RoundBit", serif;
    color: #212121;
    background-color: #e81416;
    background-attachment: fixed;
    animation: cycle 30s ease infinite;
    margin: 0;
}

.app {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 128px;
}

@keyframes cycle {
    0% {
        background-color: #487de7;
    }
    14.28% {
        background-color: #4b369d;
    }
    28.56% {
        background-color: #70369d;
    }
    42.84% {
        background-color: #e81416;
    }
    57.12% {
        background-color: #ffa500;
    }
    71.4% {
        background-color: #faeb36;
    }
    85.68% {
        background-color: #79c314;
    }
    100% {
        background-color: #487de7;
    }
}
